1.  Import Statements

In [ ]:
import pandas as pd
import numpy as np
#import geopandas
#from shapely.geometry import Point
#import matplotlib.pyplot as plt
from citipy import citipy

# Dataset Cleanup

2.  DataType Cleanups.  Import the file.   Change the column data types.

In [79]:
#Import the raw file
ufo_df = pd.read_csv("Data/scrubbed.csv")

#Convert the datetime to a datetime.  Drop any bad rows.
ufo_df['datetime']= pd.to_datetime(ufo_df['datetime'], errors='coerce')
ufo_df = ufo_df.dropna(subset=['datetime'])

#Convert the date posted to a datetime.  Drop any bad rows.
ufo_df['date posted']= pd.to_datetime(ufo_df['date posted'], errors='coerce')
ufo_df = ufo_df.dropna(subset=['date posted'])

#Convert the duration (seconds) posted to a float.  Drop any bad rows.
ufo_df['duration (seconds)']= pd.to_numeric(ufo_df['duration (seconds)'], errors='coerce')
ufo_df = ufo_df.dropna(subset=['duration (seconds)'])

#Convert the latitude posted to a number.  Drop any bad rows.
ufo_df['latitude']= pd.to_numeric(ufo_df['latitude'], errors='coerce')
ufo_df = ufo_df.dropna(subset=['latitude'])

#Fix the name.  Drop any bad rows.
ufo_df.rename(inplace=True,columns={'longitude ':'longitude', 'duration (seconds)':'duration' })
ufo_df = ufo_df.dropna(subset=['longitude'])

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

3. Cleanup the column values for city and country.  Use citipy, with the latitude and longitude.  By the way these columns looked like they were swapped ('latitude' is 'longitude', and vice-versa).

In [80]:
for i,row in ufo_df.iterrows():
    ufo_df.at[i,'city'] = citipy.nearest_city(row['latitude'],row['longitude']).city_name
    ufo_df.at[i,'country'] = citipy.nearest_city(row['latitude'],row['longitude']).country_code

4. Drop uneeded columns.

In [81]:
del ufo_df['duration (hours/min)']
del ufo_df['comments']

In [82]:
ufo_df.head()

,datetime,city,state,country,shape,duration,date posted,latitude,longitude
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,2004-04-27,29.883056,-97.941111
1,1949-10-10 21:00:00,san antonio,tx,us,light,7200.0,2005-12-16,29.384210,-98.581082
2,1955-10-10 17:00:00,chester,NaN,gb,circle,20.0,2008-01-21,53.200000,-2.916667
3,1956-10-10 21:00:00,port lavaca,tx,us,circle,20.0,2004-01-17,28.978333,-96.645833
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900.0,2004-01-22,21.418056,-157.803611

# Data Visualizations

* Where do most ufo citings occur?  
   Visualization:  Use a google map showing a spatial data visualization.  Probably be a bit more challenging.


* Are ufo sitings increasing or decreasing.
   Visualization: A bar chart showing year as the x axis, and the siting counts as the y axis.


* Do you see more lights at night?
    Visualization: Shapes versus Time of day.  Bar chart x is shape, time of day is y.
* What is the best place to see a ufo?
    Visualization: The top 10 places to see a UFO over the last 5 years.  Table or barchart

For each of the top 10 places:

* What month should you go?
* What time should you look outside?
* What shape should you look for?