* Import Statements

In [46]:
!pip install quilt

Collecting quilt
  Downloading https://files.pythonhosted.org/packages/cf/17/5f30e1726fb8a311bb5b976f8deb37580f931d077ceeefb263424955ce4a/quilt-2.9.15-py3-none-any.whl (110kB)
Requirement already satisfied: six>=1.10.0 in c:\programdata\anaconda3\lib\site-packages (from quilt) (1.12.0)
Requirement already satisfied: pandas>=0.21.0 in c:\programdata\anaconda3\lib\site-packages (from quilt) (0.23.4)
Collecting appdirs>=1.4.0 (from quilt)
  Downloading https://files.pythonhosted.org/packages/56/eb/810e700ed1349edde4cbdc1b2a21e28cdf115f9faf263f6bbf8447c1abf3/appdirs-1.4.3-py2.py3-none-any.whl
Requirement already satisfied: tqdm>=4.11.2 in c:\programdata\anaconda3\lib\site-packages (from quilt) (4.28.1)
Requirement already satisfied: numpy>=1.14.0 in c:\programdata\anaconda3\lib\site-packages (from quilt) (1.15.4)
Collecting pyarrow>=0.9.0 (from quilt)
  Downloading https://files.pythonhosted.org/packages/55/db/7c947509290da097444121834c74bd56015470031937ac56936368ae1fc8/pyarrow-0.13.0-cp37-cp37m-win_amd64.whl (13.5MB)
Requirement already satisfied: requests>=2.12.4 in c:\programdata\anaconda3\lib\site-packages (from quilt) (2.21.0)
Requirement already satisfied: packaging>=16.8 in c:\programdata\anaconda3\lib\site-packages (from quilt) (18.0)
Requirement already satisfied: future>=0.16.0 in c:\programdata\anaconda3\lib\site-packages (from quilt) (0.17.1)
Requirement already satisfied: pyyaml>=3.12 in c:\programdata\anaconda3\lib\site-packages (from quilt) (3.13)
Requirement already satisfied: xlrd>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from quilt) (1.2.0)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.21.0->quilt) (2.7.5)
Requirement already satisfied: pytz>=2011k in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.21.0->quilt) (2018.7)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.12.4->quilt) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.12.4->quilt) (2019.3.9)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.12.4->quilt) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.12.4->quilt) (1.24.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging>=16.8->quilt) (2.3.0)
Installing collected packages: appdirs, pyarrow, quilt
Successfully installed appdirs-1.4.3 pyarrow-0.13.0 quilt-2.9.15

In [1]:
import pandas as pd
import numpy as np
import datetime
#import geopandas
#from shapely.geometry import Point
#import matplotlib.pyplot as plt
from citipy import citipy

# Dataset Cleanup

* DataType Cleanups.  Import the file.   Change the column data types.

In [2]:
#Import the raw file
ufo_df = pd.read_csv("Data/scrubbed.csv")

#Convert the datetime to a datetime.  Drop any bad rows.
ufo_df['datetime']= pd.to_datetime(ufo_df['datetime'], errors='coerce')
ufo_df = ufo_df.dropna(subset=['datetime'])

#Convert the date posted to a datetime.  Drop any bad rows.
ufo_df['date posted']= pd.to_datetime(ufo_df['date posted'], errors='coerce')
ufo_df = ufo_df.dropna(subset=['date posted'])

#Convert the duration (seconds) posted to a float.  Drop any bad rows.
ufo_df['duration (seconds)']= pd.to_numeric(ufo_df['duration (seconds)'], errors='coerce')
ufo_df = ufo_df.dropna(subset=['duration (seconds)'])

#Convert the latitude posted to a number.  Drop any bad rows.
ufo_df['latitude']= pd.to_numeric(ufo_df['latitude'], errors='coerce')
ufo_df = ufo_df.dropna(subset=['latitude'])

#Fix the name.  Drop any bad rows.
ufo_df.rename(inplace=True,columns={'longitude ':'longitude', 'duration (seconds)':'duration' })
ufo_df = ufo_df.dropna(subset=['longitude'])

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

* Cleanup the column values for city and country.  Use citipy, with the latitude and longitude.  By the way these columns looked like they were swapped ('latitude' is 'longitude', and vice-versa).

In [3]:
for i,row in ufo_df.iterrows():
    ufo_df.at[i,'city'] = citipy.nearest_city(row['latitude'],row['longitude']).city_name
    ufo_df.at[i,'country'] = citipy.nearest_city(row['latitude'],row['longitude']).country_code

* Drop uneeded columns.

In [4]:
del ufo_df['duration (hours/min)']
del ufo_df['comments']

* Split out the datetime into seperate columns so its easier to work with.

In [42]:
ufo_df['year'] = ufo_df['datetime'].dt.year
ufo_df['month'] = ufo_df['datetime'].dt.month
ufo_df['day'] = ufo_df['datetime'].dt.day
ufo_df['hour'] = ufo_df['datetime'].dt.hour
ufo_df['minute'] = ufo_df['datetime'].dt.minute

ufo_df.head()

,datetime,city,state,country,shape,duration,date posted,latitude,longitude,year,month,day,hour,minute
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,2004-04-27,29.883056,-97.941111,1949,10,10,20,30
1,1949-10-10 21:00:00,san antonio,tx,us,light,7200.0,2005-12-16,29.384210,-98.581082,1949,10,10,21,0
2,1955-10-10 17:00:00,chester,NaN,gb,circle,20.0,2008-01-21,53.200000,-2.916667,1955,10,10,17,0
3,1956-10-10 21:00:00,port lavaca,tx,us,circle,20.0,2004-01-17,28.978333,-96.645833,1956,10,10,21,0
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900.0,2004-01-22,21.418056,-157.803611,1960,10,10,20,0

In [47]:
ufo_df.head()

,datetime,city,state,country,shape,duration,date posted,latitude,longitude,year,month,day,hour,minute
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,2004-04-27,29.883056,-97.941111,1949,10,10,20,30
1,1949-10-10 21:00:00,san antonio,tx,us,light,7200.0,2005-12-16,29.384210,-98.581082,1949,10,10,21,0
2,1955-10-10 17:00:00,chester,NaN,gb,circle,20.0,2008-01-21,53.200000,-2.916667,1955,10,10,17,0
3,1956-10-10 21:00:00,port lavaca,tx,us,circle,20.0,2004-01-17,28.978333,-96.645833,1956,10,10,21,0
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900.0,2004-01-22,21.418056,-157.803611,1960,10,10,20,0

# Data Visualizations

* Where do most ufo citings occur?  
   Visualization:  Use a google map showing a spatial data visualization.  Probably be a bit more challenging.


* Are ufo sitings increasing or decreasing.
   Visualization: A bar chart showing year as the x axis, and the siting counts as the y axis.


* Do you see more lights at night?
    Visualization: Shapes versus Time of day.  Bar chart x is shape, time of day is y.
* What is the best place to see a ufo?
    Visualization: The top 10 places to see a UFO over the last 5 years.  Table or barchart

For each of the top 10 places:

* What month should you go?
* What time should you look outside?
* What shape should you look for?

* Where do most ufo citings occur?

Which country has the most ufo sightings?

In [80]:
most_ufo_by_year_df = pd.DataFrame(ufo_df.groupby(['country','year'])['datetime'].count())
most_ufo_by_year_df.rename(inplace=True,columns={'datetime':'counts'})
most_ufo_by_year_df = most_ufo_by_year_df.reset_index()
most_ufo_by_year_df = most_ufo_by_year_df.set_index(['year'])
most_ufo_by_year_df1 = pd.DataFrame()
most_ufo_by_year_df1.index = [most_ufo_by_year_df.index.unique]
#most_ufo_by_year_df1.head(100)

# most_ufo_by_year_df1 = pd.DataFrame()
# for country in most_ufo_by_year_df['country'].unique():
#     most_ufo_by_year_df1[country] = most_ufo_by_year_df[most_ufo_by_year_df['country'] == country]['counts']
# most_ufo_by_year_df1.head(100)

ValueError: Length mismatch: Expected axis has 0 elements, new values have 1 elements

In [43]:
most_ufo_by_country_df = pd.DataFrame(ufo_df.groupby('country')['datetime'].count())
most_ufo_by_country_df.rename(inplace=True,columns={'datetime':'counts'})
most_ufo_by_country_df.reindex()
most_ufo_by_country_df['percentage'] = most_ufo_by_country_df['counts']/most_ufo_by_country_df['counts'].sum()*100
most_ufo_by_country_df['percentage'] = most_ufo_by_country_df['percentage'].map('{:,.2f}%'.format)
most_ufo_by_country_df.sort_values(by='counts', ascending=False).head(10)

         counts percentage
country
us        70133     88.07%
ca         3788      4.76%
gb         2339      2.94%
au          625      0.78%
mx          270      0.34%
in          219      0.28%
de          132      0.17%
nl          113      0.14%
br          108      0.14%
nz           99      0.12%

Which city has the most ufo sightings?

In [44]:
most_ufo_by_city_df = pd.DataFrame(ufo_df.groupby(['city','state','country'])['datetime'].count())
most_ufo_by_city_df.rename(inplace=True,columns={'datetime':'counts'})
most_ufo_by_city_df.reindex()
most_ufo_by_city_df['percentage'] = most_ufo_by_city_df['counts']/most_ufo_by_city_df['counts'].sum()*100
most_ufo_by_city_df['percentage'] = most_ufo_by_city_df['percentage'].map('{:,.2f}%'.format)
most_ufo_by_city_df.sort_values(by='counts', ascending=False).head(10)

                           counts percentage
city        state country
seattle     wa    us          587      0.79%
new york    ny    us          552      0.75%
phoenix     az    us          492      0.67%
los angeles ca    us          397      0.54%
las vegas   nv    us          393      0.53%
san diego   ca    us          373      0.50%
portland    or    us          344      0.47%
houston     tx    us          310      0.42%
chicago     il    us          288      0.39%
tucson      az    us          250      0.34%

Last 10 years.  Also shows how to extract the year from datetime.

In [13]:
ufo_lst_10_yrs_df = ufo_df[ufo_df['datetime'].dt.year >= max(ufo_df['datetime'].dt.year)-10]
ufo_lst_10_yrs_df.head()

,datetime,city,state,country,shape,duration,date posted,latitude,longitude
127,2004-10-10 02:50:00,suffern,nj,us,triangle,180.0,2011-12-12,41.088611,-74.144167
128,2004-10-10 03:30:00,lakewood,nj,us,other,2700.0,2004-10-27,40.058324,-74.405661
129,2004-10-10 03:50:00,carman,mb,ca,changing,1200.0,2004-10-27,49.966667,-98.300000
130,2004-10-10 04:18:00,terre haute,in,us,sphere,5.0,2004-10-27,39.466667,-87.413889
131,2004-10-10 08:30:00,indianapolis,in,us,oval,15.0,2004-10-27,39.768333,-86.158056